# .NET build outputs
**/bin/
**/obj/

# Node/Angular
node_modules/
frontend/node_modules/
dist/
build/
coverage/

# Logs and temp
*.log
*.tmp
*.swp
.tmp-ng/

# Environment and secrets
.env*

# IDE/OS
.DS_Store
Thumbs.db
.vscode/
.idea/

# Specific to this project
./backend/src/SmartHome.Api/bin/
./backend/src/SmartHome.Api/obj/
./simulator/SmartHome.DeviceSimulator/bin/
./simulator/SmartHome.DeviceSimulator/obj/